<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <!-- form -->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h1>Tambah Assigment</h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form th:action="@{/assigment/update/{id}(id=${assigment.assigmentId})}" th:object="${assigment}" method="post" class="form-horizontal form-label-left" id="form1">
								<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ayah">Nama User<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select th:field="*{idUser}" class="select2_single form-control col-md-7 col-xs-12" placeholder="Pilih Ayah">
                                            <option value="NONE"></option>
                                            <option th:each="user : ${allUsers}"
                                                    th:value="${user.userId}"
                                                    th:text="${user.nama}">user</option>
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ayah">Jabatan<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select th:field="*{idJabatan}" class="select2_single form-control col-md-7 col-xs-12" placeholder="Pilih Ayah">
                                            <option value="NONE"></option>
                                            <option th:each="jabatan : ${allJabatans}"
                                                    th:value="${jabatan.jabatanId}"
                                                    th:text="${jabatan.namaJabatan}">jabatan</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>
                                            &nbsp;Simpan
                                        </button>
                                        <a th:href="@{/assigment/savepage}" class="btn btn-danger"><i class="glyphicon glyphicon-chevron-left"></i>
                                            &nbsp;Kembali
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End form -->  
</body>
</html>